* {
    box-sizing: border-box;
}

.round {
    border-radius: 200px;
}

.blue {
    background-color: var(--blue);
    color: var(--white);
}

.lightblue {
    background-color: var(--lightblue);
    color: var(--white);
}

.orange {
	background-color: var(--orange);
    color: var(--black);
}

.darkorange {
    background-color: var(--darkorange);
    color: var(--white);
}

.white {
    background-color: var(--white);
}

:root {
    --blue: #0060A1;
    --lightblue: #528ab8;
    --orange: #fa8422;
    --darkorange: #b45404;
    --white: #ffffff;
    --black: #000000;
}
