* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

img {
}

#grid-container {
    display: grid;
    aspect-ratio: 16/10;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        "header weather events"
        "media media events"
        "lunch lunch events";
    padding: 10px;
}

#logo-background {
    padding: 5% 0 1%;
    margin-top: -10px;
    margin-left: -10px;
    height: 100%;
    aspect-ratio: 1/1;
    border: solid 10px var(--white);
}

#logo-background img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;    
}

#header {
    grid-area: header;
    min-height: 100%;
}

#header-time-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 70%;
    float: right;
    position: relative;
    top: -100%;
    margin-top: 10px;
    z-index: -1;
}

#header-countdown-background {
    display: flex;
    align-items: center;
    width: 70%;
    height: 20%;
    float: right;
    position: relative;
    top: -100%;
    right: 20%;
    margin-top: 5px;
    z-index: -1;
}

#header-time {
    padding-left: 28%;
    color: white;
    font-size: 70pt;
}

#header-countdown {
    padding-left: 25%;
    color: white;
    font-size: 20pt;
}

#lesson-gif-background {
    height: 80%;
    aspect-ratio: 1/1;
    background-color: white;
    margin-right: 2.5%;
}

#weather {
    grid-area: weather;
    min-height: 100%;
}

#weather-background {
    height: 100%;
    width: 100%;
}

.round {
    border-radius: 200px;
}

.blue {
    background-color: var(--blue);
}

.lightblue {
    background-color: var(--lightblue);
}

.white {
    background-color: var(--white);
}

:root {
    --blue: #0060A1;
    --lightblue: #528ab8;
    --white: #ffffff;
}