* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#grid-container {
    display: grid;
    aspect-ratio: 16/10;
    grid-template-columns: 12fr 7fr 8fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        "header weather events"
        "media media events"
        "lunch lunch events";
    gap: 30px;
    padding: 10px;
    overflow: hidden;
}

#logo-background {
    padding: 3.5% 0 1%;
    margin-top: -10px;
    margin-left: -10px;
    height: 100%;
    aspect-ratio: 1/1;
    border: solid 10px var(--white);
}

#header {
    grid-area: header;
    min-height: 100%;
}

#header-time-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 70%;
    float: right;
    position: relative;
    top: -100%;
    margin-top: 10px;
    z-index: -1;
}

#header-countdown-background {
    display: flex;
    align-items: center;
    width: 70%;
    height: 20%;
    float: right;
    position: relative;
    top: -100%;
    right: 20%;
    margin-top: 5px;
    z-index: -1;
}

#header-time {
    padding-left: 23%;
    font-size: 71pt;
    overflow: hidden;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
}

#header-countdown {
    padding-left: 22%;
    font-size: 20pt;
}

#lesson-gif-background {
    height: 80%;
    background-color: white;
    margin-right: 2.5%;
    padding: 1% 0;
    overflow: hidden;
}

@-moz-document url-prefix() {
    #lesson-gif-background {
        aspect-ratio: 1/1;
    }
}

#weather {
    grid-area: weather;
    min-height: 100%;
}

#weather-background {
    height: 100%;
    width: 100%;
    padding: 2% 10%;
    display: grid;
    grid-template-columns: 12fr 5fr 7fr;
    grid-template-rows: 2fr 2fr 3fr;
    grid-template-areas: 
        "temperature temperature temperature-high"
        "temperature temperature temperature-low"
        "first-time second-time second-time";
}

#weather-background div {
    overflow: hidden;
    display: flex;
    align-items: center;
}

#weather-temperature {
    grid-area: temperature;
}

#weather-temperature-image {
    height: 100%;
    position: relative;
    left: -2%;
}

#weather-temperature-text {
    position: relative;
    left: -4%;
    font-size: 45pt;
    font-weight: 700;
    white-space: nowrap;
}

#weather-highs {
    grid-area: temperature-high;
}

#weather-lows {
    grid-area: temperature-low;
}

#weather-highs-text, #weather-lows-text {
    padding-left: 8%;
    font-size: 20pt;
}

#weather-first-time {
    grid-area: first-time;
}

#weather-second-time {
    grid-area: second-time;
}

#weather-first-time img, #weather-second-time img {
    height: 100%;
}

#weather-first-time-text, #weather-second-time-text {
    font-size: 20pt;
}

#events {
    grid-area: events;
    min-height: 100%;
}

#events-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#events-container > :only-child {
    position: relative;
    top: 41%
}

.event {
    width: 100%;
    height: 18%;
}

.event-icon-char-background {
    height: 75%;
    aspect-ratio: 1/1;
    border: solid 8px var(--white);
    margin-top: -8px;
    margin-left: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-title-background {
    position: relative;
    margin-top: 8px;
    top: -75%;
    width: 90%;
    height: 40%;
    float: right;
    border: 2px solid var(--white);
    z-index: -1;
    display: flex;
    align-items: center;
}

.event-description-background {
    position: relative;
    top: -75%;
    right: 5%;
    width: 82%;
    height: 60%;
    float: right;
    border: 2px solid var(--white);
    z-index: -1;
}

.event-icon-char {
    font-size: 90pt;
    font-weight: 700;
}

.event-title {
    padding-left: 22%;
    font-size: 40pt;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

.event-description {
    width: 100%;
    height: 100%;
    padding: 0 15%;
    font-size: 15pt;
    text-indent: 5%;
}

#media {
    grid-area: media;
    min-height: 100%;
}

#media-container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
    background-color: var(--lightblue); /*placeholder*/
}

.media-image {
    width: 100%;
    height: 100%;
}

.media-image-text {
    position: relative;
    top: -92%;
    left: 8%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
}

.media-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.media-image-wrapper-visible {
    display: block;
}

#lunch {
    grid-area: lunch;
    min-height: 100%;
}

#lunch-icon-background {
    height: calc(100% + 2 * 10px);
    aspect-ratio: 1/1;
    border: solid 10px var(--white);
    padding: 1% 0 1%;
    margin-top: -10px;
    margin-left: -10px;
}

#lunch-meal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -100%;
    margin-top: -10px;
    height: 100%;
    width: 95%;
    float: right;
    z-index: -1;
}

.lunch-meal {
    display: flex;
    align-items: center;
    z-index: -1;
    height: 18%;
}

.lunch-type {
    font-weight: 700;
    font-size: 30pt;
    margin-left: 15%;
}

.lunch-description {
    font-size: 17pt;
    margin-left: 19%;
    position: absolute;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.logo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;    
}

.media-image-display {
    aspect-ratio: 16/9;
    width: 20%;
}

.round {
    border-radius: 200px;
}

.blue {
    background-color: var(--blue);
    color: var(--white);
}

.lightblue {
    background-color: var(--lightblue);
    color: var(--white);
}

.white {
    background-color: var(--white);
}

:root {
    --blue: #0060A1;
    --lightblue: #528ab8;
    --white: #ffffff;
}